// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles

html,
body,
.body {
  background: #f3f3f3 !important;
  background-color: #f3f3f3 !important;
}

.header {
  .columns {
    h1 {
      color: $primary-color;
      font-size: 25px;
      font-weight: 600;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 20px;

      .haus {
        color: #015379;
      }
    }
  }
}

.taxi {
  .columns {
    .taxi-cab {
      width: 100%;
    }
  }
}

.text {
  .columns {
    h1 {
      padding-top: 35px;
      font-weight: 800;
      color: $secondary-color;
      font-size: 40px;
    }

    h2 {
      font-weight: 600;
      color: $secondary-color;
      padding-top: 5px;
      font-size: 25px;
    }

    p {
      padding-top: 25px;
      padding-left: 50px;
      padding-right: 50px;
      line-height: 1.6;
      hyphens: none;
      font-size: 16px;
      color: $paragraph;
      font-weight: 400;
    }
  }
}

.service {
  .button-first {
    .columns {
      padding-top: 60px;
      padding-bottom: 60px;

      a {
        color: #ffffff;
        background-color: $primary-color;
        background: $primary-color;
      }
    }
  }

  .button-second {
    .columns {
      padding-top: 0px;
      padding-bottom: 60px;

      a {
        color: #ffffff;
        background-color: $primary-color;
        background: $primary-color;
      }
    }
  }

  .simple {
    .columns {
      h2 {
        font-weight: 600;
        color: $secondary-color;
        padding-top: 5px;
        font-size: 25px;
        padding-left: 20px;
        padding-right: 20px;
      }

      p {
        padding: 25px 50px 80px;
        line-height: 1.6;
        hyphens: none;
        font-size: 16px;
        color: $paragraph;
        font-weight: 400;
      }
    }
  }

  .options {
    padding-top: 20px !important;

    .columns {


      .cars-first {

        .columns {
          padding-bottom: 80px;

          a {
            img {
              width: 150px;
            }
          }

          h2 {
            font-weight: 600;
            color: $secondary-color;
            padding-top: 10px;
            font-size: 16px;
          }

          .eco {
            padding-top: 17px;
          }

          p {
            line-height: 1.6;
            font-size: 16px;
            color: $paragraph;
            font-weight: 400;
          }
        }
      }

      .cars-second {
        .columns {
          padding-bottom: 80px;

          .guide {
            font-size: 60px;
          }

          a {
            img {
              width: 150px;
            }
          }

          h2 {
            font-weight: 600;
            color: $secondary-color;
            padding-top: 10px;
            font-size: 16px;
          }

          .guide {
            padding-top: 20px;
            padding-right: 20px;
          }

          .faqs {
            padding-top: 28px;
          }

          p {
            line-height: 1.6;
            font-size: 16px;
            color: $paragraph;
            font-weight: 400;
          }

          .highlight {
            color: $primary-color;
          }
        }
      }
    }
  }

  .appreciation {
    .columns {
      p {
        line-height: 1.6;
        font-size: 16px;
        color: $paragraph;
        font-weight: 400;
      }
    }
  }
}

.footer {
  .columns {
    .icons {
      .columns {
        a {
          display: inline-block;
          padding: 10px;

          .you {
            width: 36px;
          }

          .twitt {
            width: 36px;
          }

          img {
            padding-top: 50px;
            width: 30px;
            display: inline-block;
          }
        }
      }
    }
  }

  .footer-logo {
    border-bottom: 1px solid #c4c7c9;

    .columns {
      h1 {
        color: $primary-color;
        font-size: 25px;
        font-weight: 600;
        padding-top: 50px;
        padding-bottom: 20px;

        .haus {
          color: #015379;
        }
      }
    }
  }

  .rights {
    .columns {
      p {
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 13px;
        color: $paragraph;
        font-weight: 400;
      }
    }
  }

  .address {
    background: #f1f1f1;
    background-color: #f1f1f1;
    margin-bottom: 50px;

    .columns {
      .p-top {
        padding-top: 25px;
      }

      .p-bottom {
        padding-bottom: 25px;
      }

      p {
        font-size: 13px;
        color: $paragraph;
        font-weight: 400;
      }
    }
  }
}