<container>
    <row class="footer">
        <columns>

            <row class="icons ">

                <columns>
                    <center>
                        <a href="#">
                            <img class="you" src="https://i.imgur.com/7X428oU.png" alt="">
                        </a>

                        <a href="#">
                            <img class="twitt" src="https://i.imgur.com/43V1oRx.png" alt="">
                        </a>

                        <a href="#">
                            <img src="https://i.imgur.com/lNthsbu.png" alt="">
                        </a>

                        <a href="#">
                            <img src="https://i.imgur.com/ZJha97M.png" alt="">
                        </a>
                    </center>
                </columns>
            </row>

            <row class="footer-logo">
                <columns small="12">
                    <a href="#">
                        <h1 class="text-center">TAXI<span class="haus">HAUS</span> </h1>
                    </a>
                </columns>
            </row>

            <row class="rights">
                <columns>
                    <p class="text-center"> &copy; 2019 Copyright Reserved </p>
                </columns>
            </row>

            <row class="address">
                <columns>
                    <p class="text-center p-top"> Taxihaus UK </p>
                    <p class="text-center"> 55 Coding Street, EC1N 2BJ </p>
                    <p class="text-center p-bottom"> London, United Kingdom </p>
                </columns>
            </row>


        </columns>
    </row>


</container>